// Import Vars
@import "vars";
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
// Import Mixins
@import "mixins/mixins";
// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

@import url("https://cdn.jsdelivr.net/npm/bootstrap-4-grid@3.4.0/css/grid.min.css");

//BASE
@import "base/typography";
@import "base/button";

// Variables
@import "variables";

// LAYOUT
@import "layout/header";
@import "layout/hero";
@import "layout/footer";
// Blocks
@import "blocks/tasks";


/* ------- BODY ------- */
html {
    font-size: 62.5%;
}

img {
    width: 100%;
    height: auto;
}

body {
    font-size: 1.6rem;
    padding-top: $header-height; // Setup in layout/header

    @include media-query(xs) {
        padding-top: $header-mobile-height; // Setup in layout/header
    }
}

/* ------- PARAGRAPH ------- */
p {
    margin-bottom: 3rem;

    &:last-of-type {
        margin-bottom: 0;
    }
}


section.info-management {
    h2 {
        margin-bottom: 0;
        font-size: 4rem;
    }

    .description {
        color: color(grey);
        font-size: 1.8rem;
        line-height: 3rem;
        margin-bottom: 1.9rem;
    }
}

.description {
    color: color(grey);
    font-size: 1.8rem;
    line-height: 3rem;
    margin-bottom: 1.9rem;
}


section.team {
    padding-top: 40rem;

    h2 {
        margin-bottom: 0;
        font-size: 4rem;
    }

    .phone-company {
        display: flex;

        a {
            padding-top: 4rem;
            height: auto;

            img {
                height: auto;
                width: 100%;
            }
        }

        a:last-of-type {
            img {
                padding-left: 4rem;
            }
        }


    }
}


section.service {
    padding-top: 20rem;
    background-color: lightblue;
    padding-bottom: 24rem;
    .container {
        position: relative;
    }

    h2 {
        text-align: center;
        transform: scale(.9);
    }

    p {
        height: 100%;
        font-family: "Poppins", sans-serif;
        font-size: 15rem;
        line-height: 1;
        color: color(brand);
        text-align: center;
    }

    .bubble {
        border-radius: 50%;
        opacity: 1;
        position: absolute;
        width: 14rem;
        height: 14rem;
        left: 0;
        top: 0;
    }

}
