section.hero {
    font-family: $font-heading;
.column{
    width: 100%;
}
    h1 {
        letter-spacing: -0.5rem;
        font-size: 7rem;
        line-height: 9.7rem;
    }

    p {
        color: color(grey);
        font-size: 2rem;
    }

    form {
        display: flex;
        border-radius: 2.5rem;
        margin-top: 6rem;

        input[type=text] {
            -webkit-border-radius: 2rem;
            -moz-border-radius: 2rem;
            border-radius: 2rem;
            width: 100%;
            padding: 1.2rem 2rem;
            border: 0.1rem solid color(grey-border);
            color: rgba(#1E1C24, 0.36);
            margin-right: 4rem;
            transition: all .3s;
            &:focus{

                    outline: none;
                    border: 1px solid color(brand);
                opacity: 1;

            }
            &::-webkit-input-placeholder { /* Edge */
                color: rgba(#1E1C24, 0.36);
            }

            &:-ms-input-placeholder { /* Internet Explorer */
                color: rgba(#1E1C24, 0.36);;
            }

            &::placeholder {
                color: rgba(#1E1C24, 0.36);
            }
        }


    }

    .image{
        background: url('/img/hero_right.png') no-repeat;
        width: 100%;
        max-width: 400px;
        height: auto;
    }

}
